nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: sticky;
  top: 0;
  width: 100%;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #2b2b2b;
}

body {
  background-color: gainsboro;
  text-align: center;
  font-family: arial;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #99badd;
  color: white;
  text-align: center;
}

.contact-form {
  font-family: Arial;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid black;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

#SendYes {
  border: 0;
  background: black;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
#SendYes:hover {
  background: #99badd;
}

.box {
  background-color: white;
  max-width: 420px;
  margin: 50px auto;
}

